// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Italic.ttf");
}
/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ff9933; 
  --ion-color-primary-rgb: 255,153,51; 
  --ion-color-primary-contrast: #000000; 
  --ion-color-primary-contrast-rgb: 0,0,0; 
  --ion-color-primary-shade: #e0872d; 
  --ion-color-primary-tint: #ffa347; 
  --ion-color-secondary: #3399ff; 
  --ion-color-secondary-rgb: 51,153,255; 
  --ion-color-secondary-contrast: #000000; 
  --ion-color-secondary-contrast-rgb: 0,0,0; 
  --ion-color-secondary-shade: #2d87e0; 
  --ion-color-secondary-tint: #47a3ff; 
  --ion-color-tertiary: #9933ff; 
  --ion-color-tertiary-rgb: 153,51,255; 
  --ion-color-tertiary-contrast: #ffffff; 
  --ion-color-tertiary-contrast-rgb: 255,255,255; 
  --ion-color-tertiary-shade: #872de0; 
  --ion-color-tertiary-tint: #a347ff; 
  --ion-color-success: #33ff99; 
  --ion-color-success-rgb: 51,255,153; 
  --ion-color-success-contrast: #000000; 
  --ion-color-success-contrast-rgb: 0,0,0; 
  --ion-color-success-shade: #2de087; 
  --ion-color-success-tint: #47ffa3; 
  --ion-color-warning: #ffff33; 
  --ion-color-warning-rgb: 255,255,51; 
  --ion-color-warning-contrast: #000000; 
  --ion-color-warning-contrast-rgb: 0,0,0; 
  --ion-color-warning-shade: #e0e02d; 
  --ion-color-warning-tint: #ffff47; 
  --ion-color-danger: #ff3333; 
  --ion-color-danger-rgb: 255,51,51; 
  --ion-color-danger-contrast: #ffffff; 
  --ion-color-danger-contrast-rgb: 255,255,255; 
  --ion-color-danger-shade: #e02d2d; 
  --ion-color-danger-tint: #ff4747;
  --ion-color-dark: #222428; 
  --ion-color-dark-rgb: 34,34,34; 
  --ion-color-dark-contrast: #ffffff; 
  --ion-color-dark-contrast-rgb: 255,255,255; 
  --ion-color-dark-shade: #1e2023; 
  --ion-color-dark-tint: #383a3e; 
  --ion-color-medium: #989aa2; 
  --ion-color-medium-rgb: 152,154,162; 
  --ion-color-medium-contrast: #ffffff; 
  --ion-color-medium-contrast-rgb: 255,255,255; 
  --ion-color-medium-shade: #86888f; 
  --ion-color-medium-tint: #a2a4ab; 
  --ion-color-light: #ffbf80; 
  --ion-color-light-rgb: 255,191,128; 
  --ion-color-light-contrast: #000000; 
  --ion-color-light-contrast-rgb: 0,0,0; 
  --ion-color-light-shade: #e0a871;
  --ion-color-light-tint: #ffc58d; 

  --ion-color-azafran: #ff9933;
  --ion-color-azafran-rgb: 255,153,51;
  --ion-color-azafran-contrast: #000000;
  --ion-color-azafran-contrast-rgb: 0,0,0;
  --ion-color-azafran-shade: #e0872d;
  --ion-color-azafran-tint: #ffa347;

  --ion-color-amarillo: #fff400;
  --ion-color-amarillo-rgb: 255,244,0;
  --ion-color-amarillo-contrast: #000000;
  --ion-color-amarillo-contrast-rgb: 0,0,0;
  --ion-color-amarillo-shade: #e0d700;
  --ion-color-amarillo-tint: #fff51a;
  
  --ion-color-rojo: #ff000c;
  --ion-color-rojo-rgb: 255,0,12;
  --ion-color-rojo-contrast: #ffffff;
  --ion-color-rojo-contrast-rgb: 255,255,255;
  --ion-color-rojo-shade: #e0000b;
  --ion-color-rojo-tint: #ff1a24;
  
  --ion-color-rosaf: #ff008b;
  --ion-color-rosaf-rgb: 255,0,139;
  --ion-color-rosaf-contrast: #ffffff;
  --ion-color-rosaf-contrast-rgb: 255,255,255;
  --ion-color-rosaf-shade: #e0007a;
  --ion-color-rosaf-tint: #ff1a97;

  --ion-color-naranjaoscuro: #b35100;
  --ion-color-naranjaoscuro-rgb: 179,81,0;
  --ion-color-naranjaoscuro-contrast: #ffffff;
  --ion-color-naranjaoscuro-contrast-rgb: 255,255,255;
  --ion-color-naranjaoscuro-shade: #9e4700;
  --ion-color-naranjaoscuro-tint: #bb621a;

  --ion-color-azulito: #008bff;
  --ion-color-azulito-rgb: 0,139,255;
  --ion-color-azulito-contrast: #ffffff;
  --ion-color-azulito-contrast-rgb: 255,255,255;
  --ion-color-azulito-shade: #007ae0;
  --ion-color-azulito-tint: #1a97ff;
  
  --ion-color-verdecito: #00ff74;
  --ion-color-verdecito-rgb: 0,255,116;
  --ion-color-verdecito-contrast: #000000;
  --ion-color-verdecito-contrast-rgb: 0,0,0;
  --ion-color-verdecito-shade: #00e066;
  --ion-color-verdecito-tint: #1aff82;

  --ion-color-naranjaclaro: #ff9e4d;
  --ion-color-naranjaclaro-rgb: 255,158,77;
  --ion-color-naranjaclaro-contrast: #000000;
  --ion-color-naranjaclaro-contrast-rgb: 0,0,0;
  --ion-color-naranjaclaro-shade: #e08b44;
  --ion-color-naranjaclaro-tint: #ffa85f;

  --ion-color-naranjablanco: #ffdfc4;
  --ion-color-naranjablanco-rgb: 255,223,196;
  --ion-color-naranjablanco-contrast: #000000;
  --ion-color-naranjablanco-contrast-rgb: 0,0,0;
  --ion-color-naranjablanco-shade: #e0c4ac;
  --ion-color-naranjablanco-tint: #ffe2ca;

  --ion-color-naranjaamarillo: #ffb400;
  --ion-color-naranjaamarillo-rgb: 255,180,0;
  --ion-color-naranjaamarillo-contrast: #000000;
  --ion-color-naranjaamarillo-contrast-rgb: 0,0,0;
  --ion-color-naranjaamarillo-shade: #e09e00;
  --ion-color-naranjaamarillo-tint: #ffbc1a;

  --ion-color-naranjaamarillodos: #ff9f00;
  --ion-color-naranjaamarillodos-rgb: 255,159,0;
  --ion-color-naranjaamarillodos-contrast: #000000;
  --ion-color-naranjaamarillodos-contrast-rgb: 0,0,0;
  --ion-color-naranjaamarillodos-shade: #e08c00;
  --ion-color-naranjaamarillodos-tint: #ffa91a;

  --ion-color-rojosirena: #FF3B00;
  --ion-color-rojosirena-rgb: 255,59,0;
  --ion-color-rojosirena-contrast: #ffffff;
  --ion-color-rojosirena-contrast-rgb: 255,255,255;
  --ion-color-rojosirena-shade: #e03400;
  --ion-color-rojosirena-tint: #ff4f1a;

  --ion-color-negro: #0c0600;
  --ion-color-negro-rgb: 12,6,0;
  --ion-color-negro-contrast: #ffffff;
  --ion-color-negro-contrast-rgb: 255,255,255;
  --ion-color-negro-shade: #0b0500;
  --ion-color-negro-tint: #241f1a;

  --ion-font-family: "Roboto";
}

.ion-color-rojosirena {
  --ion-color-base: var(--ion-color-rojosirena);
  --ion-color-base-rgb: var(--ion-color-rojosirena-rgb);
  --ion-color-contrast: var(--ion-color-rojosirena-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojosirena-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojosirena-shade);
  --ion-color-tint: var(--ion-color-rojosirena-tint);
}

.ion-color-azafran {
  --ion-color-base: var(--ion-color-azafran);
  --ion-color-base-rgb: var(--ion-color-azafran-rgb);
  --ion-color-contrast: var(--ion-color-azafran-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azafran-contrast-rgb);
  --ion-color-shade: var(--ion-color-azafran-shade);
  --ion-color-tint: var(--ion-color-azafran-tint);
}

.ion-color-amarillo {
  --ion-color-base: var(--ion-color-amarillo);
  --ion-color-base-rgb: var(--ion-color-amarillo-rgb);
  --ion-color-contrast: var(--ion-color-amarillo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-amarillo-contrast-rgb);
  --ion-color-shade: var(--ion-color-amarillo-shade);
  --ion-color-tint: var(--ion-color-amarillo-tint);
}

.ion-color-rojo {
  --ion-color-base: var(--ion-color-rojo);
  --ion-color-base-rgb: var(--ion-color-rojo-rgb);
  --ion-color-contrast: var(--ion-color-rojo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojo-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojo-shade);
  --ion-color-tint: var(--ion-color-rojo-tint);
}

.ion-color-rosaf {
  --ion-color-base: var(--ion-color-rosaf);
  --ion-color-base-rgb: var(--ion-color-rosaf-rgb);
  --ion-color-contrast: var(--ion-color-rosaf-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosaf-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosaf-shade);
  --ion-color-tint: var(--ion-color-rosaf-tint);
}

.ion-color-naranjaoscuro {
  --ion-color-base: var(--ion-color-naranjaoscuro);
  --ion-color-base-rgb: var(--ion-color-naranjaoscuro-rgb);
  --ion-color-contrast: var(--ion-color-naranjaoscuro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjaoscuro-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjaoscuro-shade);
  --ion-color-tint: var(--ion-color-naranjaoscuro-tint);
}


.ion-color-azulito {
  --ion-color-base: var(--ion-color-azulito);
  --ion-color-base-rgb: var(--ion-color-azulito-rgb);
  --ion-color-contrast: var(--ion-color-azulito-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azulito-contrast-rgb);
  --ion-color-shade: var(--ion-color-azulito-shade);
  --ion-color-tint: var(--ion-color-azulito-tint);
}

.ion-color-verdecito {
  --ion-color-base: var(--ion-color-verdecito);
  --ion-color-base-rgb: var(--ion-color-verdecito-rgb);
  --ion-color-contrast: var(--ion-color-verdecito-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verdecito-contrast-rgb);
  --ion-color-shade: var(--ion-color-verdecito-shade);
  --ion-color-tint: var(--ion-color-verdecito-tint);
}

.ion-color-naranjaclaro {
  --ion-color-base: var(--ion-color-naranjaclaro);
  --ion-color-base-rgb: var(--ion-color-naranjaclaro-rgb);
  --ion-color-contrast: var(--ion-color-naranjaclaro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjaclaro-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjaclaro-shade);
  --ion-color-tint: var(--ion-color-naranjaclaro-tint);
}

.ion-color-naranjablanco {
  --ion-color-base: var(--ion-color-naranjablanco);
  --ion-color-base-rgb: var(--ion-color-naranjablanco-rgb);
  --ion-color-contrast: var(--ion-color-naranjablanco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjablanco-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjablanco-shade);
  --ion-color-tint: var(--ion-color-naranjablanco-tint);
}

.ion-color-naranjaamarillo {
  --ion-color-base: var(--ion-color-naranjaamarillo);
  --ion-color-base-rgb: var(--ion-color-naranjaamarillo-rgb);
  --ion-color-contrast: var(--ion-color-naranjaamarillo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjaamarillo-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjaamarillo-shade);
  --ion-color-tint: var(--ion-color-naranjaamarillo-tint);
}

.ion-color-naranjaamarillodos {
  --ion-color-base: var(--ion-color-naranjaamarillodos);
  --ion-color-base-rgb: var(--ion-color-naranjaamarillodos-rgb);
  --ion-color-contrast: var(--ion-color-naranjaamarillodos-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjaamarillodos-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjaamarillodos-shade);
  --ion-color-tint: var(--ion-color-naranjaamarillodos-tint);
}

.ion-color-negro {
  --ion-color-base: var(--ion-color-negro);
  --ion-color-base-rgb: var(--ion-color-negro-rgb);
  --ion-color-contrast: var(--ion-color-negro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-negro-contrast-rgb);
  --ion-color-shade: var(--ion-color-negro-shade);
  --ion-color-tint: var(--ion-color-negro-tint);
}