// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Roboto-Italic.ttf");
}
/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ff9933; 
  --ion-color-primary-rgb: 255,153,51; 
  --ion-color-primary-contrast: #000000; 
  --ion-color-primary-contrast-rgb: 0,0,0; 
  --ion-color-primary-shade: #e0872d; 
  --ion-color-primary-tint: #ffa347; 
  --ion-color-secondary: #3399ff; 
  --ion-color-secondary-rgb: 51,153,255; 
  --ion-color-secondary-contrast: #000000; 
  --ion-color-secondary-contrast-rgb: 0,0,0; 
  --ion-color-secondary-shade: #2d87e0; 
  --ion-color-secondary-tint: #47a3ff; 
  --ion-color-tertiary: #9933ff; 
  --ion-color-tertiary-rgb: 153,51,255; 
  --ion-color-tertiary-contrast: #ffffff; 
  --ion-color-tertiary-contrast-rgb: 255,255,255; 
  --ion-color-tertiary-shade: #872de0; 
  --ion-color-tertiary-tint: #a347ff; 
  --ion-color-success: #33ff99; 
  --ion-color-success-rgb: 51,255,153; 
  --ion-color-success-contrast: #000000; 
  --ion-color-success-contrast-rgb: 0,0,0; 
  --ion-color-success-shade: #2de087; 
  --ion-color-success-tint: #47ffa3; 
  --ion-color-warning: #ffff33; 
  --ion-color-warning-rgb: 255,255,51; 
  --ion-color-warning-contrast: #000000; 
  --ion-color-warning-contrast-rgb: 0,0,0; 
  --ion-color-warning-shade: #e0e02d; 
  --ion-color-warning-tint: #ffff47; 
  --ion-color-danger: #ff3333; 
  --ion-color-danger-rgb: 255,51,51; 
  --ion-color-danger-contrast: #ffffff; 
  --ion-color-danger-contrast-rgb: 255,255,255; 
  --ion-color-danger-shade: #e02d2d; 
  --ion-color-danger-tint: #ff4747;
  --ion-color-dark: #222428; 
  --ion-color-dark-rgb: 34,34,34; 
  --ion-color-dark-contrast: #ffffff; 
  --ion-color-dark-contrast-rgb: 255,255,255; 
  --ion-color-dark-shade: #1e2023; 
  --ion-color-dark-tint: #383a3e; 
  --ion-color-medium: #989aa2; 
  --ion-color-medium-rgb: 152,154,162; 
  --ion-color-medium-contrast: #ffffff; 
  --ion-color-medium-contrast-rgb: 255,255,255; 
  --ion-color-medium-shade: #86888f; 
  --ion-color-medium-tint: #a2a4ab; 
  --ion-color-light: #ffbf80; 
  --ion-color-light-rgb: 255,191,128; 
  --ion-color-light-contrast: #000000; 
  --ion-color-light-contrast-rgb: 0,0,0; 
  --ion-color-light-shade: #e0a871;
  --ion-color-light-tint: #ffc58d; 

  --ion-color-azafran: #ff9933;
  --ion-color-azafran-rgb: 255,153,51;
  --ion-color-azafran-contrast: #000000;
  --ion-color-azafran-contrast-rgb: 0,0,0;
  --ion-color-azafran-shade: #e0872d;
  --ion-color-azafran-tint: #ffa347;

  --ion-font-family: "Roboto";
}
.ion-color-azafran {
  --ion-color-base: var(--ion-color-azafran);
  --ion-color-base-rgb: var(--ion-color-azafran-rgb);
  --ion-color-contrast: var(--ion-color-azafran-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azafran-contrast-rgb);
  --ion-color-shade: var(--ion-color-azafran-shade);
  --ion-color-tint: var(--ion-color-azafran-tint);
}