<ion-content color="primary">
<ion-card color="naranjaamarillo"><!-- comienzo de la carta #1 -->
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>
      <ion-item color="naranjablanco">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" inputmode="email" clearInput ></ion-input>
    </ion-item>
    <ion-item color="naranjablanco">
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" maxlength="6" clearInput ></ion-input>
    </ion-item>
</ion-card><!-- Fin de la carta #1 -->

</ion-content>