.background-card {
    --background: var(--ion-color-primary-tint); //claro
    --color: var(--ion-color-tertiary); //oscuro
  }
  
  ion-card,
  ion-card-title,
  ion-label,
  div {
    --color: var(--ion-color-secondary-contrast) !important;
    color: var(--ion-color-secondary-contrast);
  }
  
  .img-logo {
    height: 5rem;
    width: auto;
  }
  
ion-item {
    --highlight-color-focused: var(--ion-color-naranjaoscuro);
  }

.ion-text-center {
    text-align: center;
  }

.fondo {
  --background: var(--ion-color-primary-shade);
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.cartaTransparente {
  --background: transparent;
}

.cardconteudo {
  --background: var(--ion-color-primary-shade);
  --color: var(--ion-color-primary-shade);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textoChico {
  font-size: x-small;
}